{
  "parser": "babel-eslint",
  "extends": "react",
  // "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
