{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "react",
    "standard"
  ],
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["warn", { "code": 120 }],
    "react/jsx-no-target-blank": ["off", {"enforceDynamicLinks": "never"}]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
