:root {
  --space0_2: 0.2rem;
  --space0_4: 0.4rem;
  --space0_5: 0.5rem;
  --space1: 1rem;
  --space1_5: 1.5rem;
  --space2: 2rem;
  --space2_5: 2.5rem;
  --space3: 3rem;
  --space3_5: 3.5rem;
  --space4: 4rem;
  --space4_5: 4.5rem;
  --space5: 5rem;
  --space5_5: 5.5rem;
  --space6: 6rem;
  --space6_5: 6.5rem;
  --space7: 7rem;
  --space8: 8rem;
}
