:root {
  --base-smallest: 10px;
  --base-smaller: 12px;
  --base-small: 14px;
  --base: 16px;
  --base-medium: 18px;
  --base-large: 20px;
  --base-larger: 22px;
  --base-largest: 25px;
  --medium: 28px;
  --large: 32px;
  --larger: 36px;
  --largest: 40px;
  --jumbo: 45px;
  --jumbo-large: 50px;
  --jumbo-larger: 60px;

  --regular: 400;
  --semi: 500;
  --semi-bold: 600;
  --bold: 700;
  --bolder: 800;
  --boldest: 900;
}
