.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  color: green;
}

.country-list {
  list-style-type: none;

  > li {
    margin-bottom: 10px;
  }

  .item {
    font-size: 18px;
    font-weight: bolder;
  }
}
:global .test {
  color: #fff;
}
